VITE_SUPABASE_URL=https://wbyzhknaqcjqqtwopupl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndieXpoa25hcWNqcXF0d29wdXBsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwNTk2MzYsImV4cCI6MjA3MjYzNTYzNn0.9ZjTRFuh2DTQ7vU_X7FvX-XKPQJJ8z8XbVip5R69gT4